{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app-styles') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app-js') }}
    {{ encore_entry_script_tags('account-js') }}
{% endblock %}

{% block body %}
    {% include 'app/partials/_header.html.twig' %}

    <main>
        {% block content %}{% endblock content %}
    </main>

    {% include 'app/partials/_footer.html.twig' %}
{% endblock body %}