{% extends 'account/layout.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}

<div>
    <h1>Bienvenue {{ user.username }}!</h1>

    D'ici vous pouvez :
    <ul>
        <li>Ajouter une figure</li>
        <li></li>
    </ul>
</div>
{% endblock %}
