@use "../vars" as *;

.trick {
    .trick_wrapper {
        .buttons-container {
            display: flex;
            gap: 1rem;
            width: fit-content;
        }
        article {
            margin-bottom: 2rem;
            h1 {
                font-size: 42px;
                font-weight: 700;
                margin: 1em 0;
                position: relative;
                padding-bottom: 1rem;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 50px;
                    height: 2px;
                    display: inline-block;
                    background-color: $primary;
                }
            }
            h2 {
                font-size: 2rem;
                margin: 0.5em 0;
            }
            .label {
                width: fit-content;
            }
            p {
                font-size: 18px;
                line-height: 2rem;
            }
        }
    }

    // form {
    //     display: flex;
    //     flex-direction: column;
    //     margin: 6rem auto;
    //     width: fit-content;
    //     input[type=button] {
    //         margin: 1rem 0;
    //         align-self: end;
    //     }
    // }
}