{% extends 'app/layout.html.twig' %}

{% block content %}
<div class="main-content">
    <section class="hero">
        <div class="hero_wrapper">
            <img src="{{ asset('img/hero.jpg') }}" alt="snowboarder veste jaune">
            <div class="gradient"></div>
            <h1>Apprends les meilleurs<br> <span class="text-primary">tricks</span> ou <span class="text-primary">contribue</span> !</h1>
        </div>
    </section>
    <section class="home-tricks">
        <ul class="home-tricks_wrapper">
            <li class="trick-card">
                <img src="" alt="">
                <h3><a href="#">Trick Name</a></h3>
                <div class="flex">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </li>
            <li class="trick-card">
                <img src="" alt="">
                <h3><a href="#">Trick Name</a></h3>
                <div class="flex">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </li>
            <li class="trick-card">
                <img src="" alt="">
                <h3><a href="#">Trick Name</a></h3>
                <div class="flex">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </li>
            <li class="trick-card">
                <img src="" alt="">
                <h3><a href="#">Trick Name</a></h3>
                <div class="flex">
                    <button>edit</button>
                    <button>delete</button>
                </div>
            </li>
        </ul>
    </section>
</div>
{% endblock content %}