{% extends 'app/layout.html.twig' %}

{% block content %}

{% for flash_success in app.flashes('verify_email_success') %}
        <div class="sucess alert-success" role="alert">{{ flash_success }}</div>
{% endfor %}

<div class="main-content">
    <section class="hero">
        <div class="hero_wrapper">
            <img src="{{ asset('img/hero.jpg') }}" alt="snowboarder veste jaune">
            <div class="gradient"></div>
            <h1>La communauté du<br> <span class="text-primary">snowboard</span></h1>
        </div>
    </section>
    <section class="home-tricks">
        <ul class="home-tricks_wrapper">
        {% for trick in tricks %}
            {% include "app/pages/tricks/_trick-card.html.twig" with {'trick': trick} %}
        {% endfor %}
        </ul>
    </section>
</div>

{% endblock content %}