@use "../vars" as *;

.header {
    color: $dark;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .header_logo {
        width: 140px;
        height: auto;
    }
    .header_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        ul {
            display: flex;
            column-gap: clamp(1rem, -0.429rem + 7.14vw, 6rem);
            padding: 1rem 2rem;
            li {
                a {
                    color: $dark;
                    font-weight: bold;
                    transition: 0.2s;
                    white-space: nowrap;
                    font-size: 0.9rem;
                    &:hover {
                        color: $warning;
                    }
                }
            }
        }
    }
}