{% extends "base.html.twig" %}

{% block body %}

<section class="main-content">
    <form action="" class="flex flex-col gap-4">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email">

        <label for="username">Pseudo :</label>
        <input type="text" name="username" id="username">

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password">

        <label for="password">Confirmer le mot de passe :</label>
        <input type="password" name="password-confirm" id="password-confirm">

        <button type="submit">S'inscrire</button>
    </form>
</section>


{% endblock %}