<h1>Bonjour, veuillez confirmer votre email !</h1>

<p>
    Veuillez confirmer votre email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Ce lien expirera le {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très bientôt !<br><br>
    <i>L'équipe Snowtricks</i>
</p>
