<h1>Bonjour !</h1>

<p>
    Nous vous remercions pour votre inscription sur <i>Snowtricks</i>.
    Veuillez à présent confirmer votre email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p><br><br><br>

<p>
    A très bientôt !<br><br>
    <i>L'équipe Snowtricks</i>
</p>
