<li class="trick-card">
    <a href="{{ path('app_tricks_item', {'slug': trick.slug}) }}">
    <div class="img-container">
        <img src="{{ asset('uploads/' ~ trick.pictures[0].path) }}" alt="">
    </div>
        <h3>{{ trick.title }}</h3>
    </a>
    <div class="flex justify-between">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="flex link" href="{{ path('account_tricks_edit', {'slug': trick.slug} ) }}"><button class="btn btn-warning card-link"><i class="bi bi-pencil-fill"></i></button></a>
            {% include "account/pages/tricks/_delete-form.html.twig" %}
        {% endif %}
    </div>
</li>