<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

<a href="{{ route }}">{{ route }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientôt sur Snowtricks !</p>
