{% extends 'app/layout.html.twig' %}

{% block title %}Snowtricks - Réinitialiser votre mot de passe{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section class="main-content">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Veuillez entrer l'adresse email associée à votre compte.
                    Nous vous enverrons un email contenant un lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary">Envoyer lien de réinitialisation</button>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
