{% extends 'app/layout.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <div class="main-content">
        <h1 class"text-center">Page introuvable</h1>

        <p class"text-center">
            La page demandée est introuvable. Veuillez vérifier l'url saisie ou <a href="{{ path('app_home') }}">retourner sur la page d'accueil</a>.
        </p>
    </div>
{% endblock %}