<header class="header">
    <div class="header_wrapper">
        <span><span>Snow</span><span class="text-primary">Tricks!!!</span></span>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="#">Figures</a></li>
            <li><a href="#">Se connecter</a></li>
            <li><a href="/register">S'inscrire</a></li>
        </ul>
    </div>
</header>