<footer>
    <span><span>Snow</span><span class="text-primary">Tricks!!!</span></span>
        <ul>
            <li><a class="link" href="#">Accueil</a></li>
            <li><a class="link" href="#">Figures</a></li>
        </ul>
    <p class="copyright">Copyright© 2022 Julie Pariona</p>
</footer>